.container {
  height: auto;
  width: auto;
  margin-bottom: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--accent-color-5);
  color: var(--light-font-color);
  border-radius: 20px;
  box-shadow: var(--button-box-shadow);
}

/* IMAGE CONTAINER */

.thumb-container {
  width: 45%;
  display: flex;
}

.image-wrapper {
  height: 210px;
  width: 80%;
  background-color: var(--accent-color-2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
}

.image {
  height: 90%;
  width: 90%;
  border-radius: 20px;
  box-shadow: var(--button-box-shadow);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.languages {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.language {
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
  color: var(--alt-font-color);
  border-radius: 20px;
  box-shadow: var(--button-box-shadow-fine);
  width: fit-content;
}

.language:last-of-type {
  margin-bottom: 0;
}

.links {
  width: 200px;
}

.links-container {
  display: flex;
}

.link {
  background-color: var(--button-bg-color);
  text-decoration: none;
  color: var(--button-color-1);
  padding: 0.3rem;
  font-size: 1.3rem;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: var(--button-box-shadow);
}

.link:hover {
  color: var(--accent-color-2);
  scale: 0.9;
  transition: all 0.3s ease-in-out;
}

/* TEXT CONTAINER */

.text-container {
  width: 55%;
  text-align: end;
}

.heading {
  font-size: 2rem;
  font-family: var(--header-font);
  margin: 0;
}

.text {
  font-size: 0.8rem;
}

/* MEDIA QUERIES */
@media (max-width: 1400px) {
  .image-wrapper {
    height: 200px;
    width: 85%;
  }
}

@media (max-width: 1300px) {
  .image-wrapper {
    height: 150px;
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .image-wrapper {
    display: none;
  }
}
